################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/PipelineSpace.Presentation/bin
/src/PipelineSpace.Presentation/obj
/src/PipelineSpace.Application/bin
/src/PipelineSpace.Application/obj
/src/PipelineSpace.Domain/bin
/src/PipelineSpace.Domain/obj
/src/PipelineSpace.Infrastructure/bin
/src/PipelineSpace.Infrastructure/obj
/src/PipelineSpace.Domain.Core/bin
/src/PipelineSpace.Domain.Core/obj
/src/PipelineSpace.Infra.CrossCutting.Identity/bin
/src/PipelineSpace.Infra.CrossCutting.Identity/obj
/src/PipelineSpace.Infra.CrossCutting.IoC/bin
/src/PipelineSpace.Infra.CrossCutting.IoC/obj
/src/PipelineSpace.Infra.Data.SqlServer/bin
/src/PipelineSpace.Infra.Data.SqlServer/obj
/src/PipelineSpace.Infra.Data.ServiceAgent/bin
/src/PipelineSpace.Infra.Data.ServiceAgent/obj
/src/PipelineSpace.Infra.Notification.Postmark/bin
/src/PipelineSpace.Infra.Notification.Postmark/obj
/src/PipelineSpace.Worker.Handlers.Core/bin
/src/PipelineSpace.Worker.Handlers.Core/obj
/src/PipelineSpace.Worker.Handlers/bin
/src/PipelineSpace.Worker.Handlers/obj
/src/PipelineSpace.Worker.Events/bin
/src/PipelineSpace.Worker.Events/obj
/src/PipelineSpace.Infra.Messaging.AWS.SNS/bin
/src/PipelineSpace.Infra.Messaging.AWS.SNS/obj
/src/PipelineSpace.Infra.Messaging.InMemory/bin
/src/PipelineSpace.Infra.Messaging.InMemory/obj
/src/PipelineSpace.Infra.Options/bin
/src/PipelineSpace.Infra.Options/obj
/src/PipelineSpace.Infra.Messaging.Azure.ServiceBus/bin
/src/PipelineSpace.Infra.Messaging.Azure.ServiceBus/obj
/src/PipelineSpace.Infra.CrossCutting.Logging/obj
/src/PipelineSpace.Infra.CrossCutting.Logging/bin
/src/PipelineSpace.Presentation/performance-*.txt
/src/PipelineSpace.Presentation/usage-*.txt
/src/PipelineSpace.Presentation/error-*.txt
/src/PipelineSpace.Presentation/diagnostic-*.txt
/src/PipelineSpace.Presentation/logging-*.txt
/src/PipelineSpace.Infra.CrossCutting.Monitor/bin
/src/PipelineSpace.Infra.CrossCutting.Monitor/obj
/src/PipelineSpace.Worker.Monitor/bin
/src/PipelineSpace.Worker.Monitor/obj
/src/PipelineSpace.Infra.Notification.SendGrid/bin
/src/PipelineSpace.Infra.Notification.SendGrid/obj
/src/PipelineSpace.Infra.CrossCutting.Extensions/bin
/src/PipelineSpace.Infra.CrossCutting.Extensions/obj
/src/PipelineSpace.Infra.CrossCutting.Security/obj
/src/PipelineSpace.Infra.CrossCutting.Security/bin
